<html>
  <head>
    <title>Training Center </title>
    <link href="http://localhost/epita_php/html/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://localhost/epita_php/html/js/jquery-1.11.2.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2 class="text-info">Welcome to the Training Center</h2>
        <?php 
        if (isset($_SESSION['login_id'])) {?>
        <a href="/epita_php/logout"><?= $_SESSION['name'] ?>, Logout</a>
        <?php
        }
        ?>
      </div>
    </div>
    <div class="container">
