<h2>Create project</h2>
<form method="post" action="" class="form-horizontal">
  <br/>
  Title:</br>
  <input class="form-control" type="text" name="title" required>
  </br>
  Deadline:</br>
  <input class="form-control" type="date" name="deadline" required>
  </br>
  Class:</br>
  <input class="form-control" type="text" name="classId" required>
  </br>
  Subject:</br>
  <input class="form-control" type="text" name="subject" required>
  </br>
  <input class="btn btn-primary" type="submit" value="Create" />
</form>
