<h2>Edit Team</h2>
 <form method="post" action="" class="form-horizontal">
  <input class="form-control" type="hidden" name="projectId" value="<?=$project['project_id'] ?>" />
  <input class="form-control" type="hidden" name="teamId" value="<?=$team['team_id'] ?>" />
  <h3>Project: <?=$project['title']?></h3>
  <br/>
  Summary:</br>
  <textarea class="form-control" name="summary" rows="4" cols="100"><?=$team["summary"] ?></textarea>
  </br>
  <input class="btn btn-primary" type="submit" value="Update" />
</form>
<div><a href="/epita_php/team/id-<?= $team['team_id'] ?>">Team Detail</a></div>
