<?php
if (!$is_all) { ?>
<div><a href="/epita_php/teams">All Teams</a></div><?php
}
?>
<table class="table">
  <thead>
    <tr>
      <th>Id</td>
      <th>Project Id</td>
      <th>Owner Id</td>
      <th>Summary</td>
      <th>Created At</td>
      <th>Member</td>
      <?php
      if ($is_all == true) {?>
      <th>Detail</td>
      <?php } ?>
    </tr>
  </thead>
  <tbody>
    <?php
    $columns = ['team_id', 'project_id', 'owner_id', 'summary', 'created_at'];
    for ($i = 0; $i < count($team); $i++) {
      print "<tr>";
      foreach($columns as $col) {
        print "<td>";
        print $team[$i][$col];
        if ($col == 'team_id') {?>
          <a href="/epita_php/team/edit/id-<?= $team[$i][$col] ?>">Edit</a>
        <?php }
        if ($col == 'project_id') {?>
          <a href="/epita_php/project/id-<?= $team[$i][$col] ?>">View Project</a> /
          <a href="/epita_php/team/new/pid-<?= $team[$i][$col] ?>">Create Team</a>
        <?php }
        print "</td>";
      }

      print "<td>";
      $member = $members[$i];
      $count = count($member);
      for ($j = 0; $j < $count; $j++) {?>
        <a href="/epita_php/person/id-<?= $member[$j]['person_id'] ?>"><?=$member[$j]["first_name"]?></a>
        <?php
          if (!$is_all) {
        ?>
        / <a href="/epita_php/team/member/id-<?= $team[$i]['team_id'] ?>">Edit</a>
        <?php 
        }
        if ($j < $count - 1) {
          print ", ";
        }
      }
      print "</td>";
      if ($is_all) {
        print "<td>";?>
          <a href="/epita_php/team/id-<?= $team[$i]['team_id'] ?>">Detail</a>
        <?php
        print "</td>";
      }
      print "</tr>";
    }
    ?>
  </tbody>
</table>

