<h2>Create team</h2>
<?php
  if ($error == true) {
    print "Error Creating Team";
  }
?>
<form method="post" action="" class="form-horizontal">
  <input type="hidden" name="projectId" value="<?=$project['project_id'] ?>" />
  <h4>Project: <?=$project['title']?></h4>
  <br/>
  Summary:</br>
  <textarea class="form-control" name="summary" rows="4" cols="100"></textarea>
  </br>
  <input type="submit" class="btn btn-primary" value="Create" />
</form>
<div><a href="/epita_php/teams">All Teams</a></div>
